/*------------------------------------
 *
 * Lacre docs Main style Sheet
 * 05-08-2022
 * ------------------------------------*/

/* Defaults
 * ------------------------------------*/

/*@import url("../../lacre-basic/css/defaults.css");
@import url("../../lacre-basic/css/custom.css");*/

/* Colors */

:root {
  --bg-color: #203040 ;
  --logo-color: #BB2244;
  --highlight-color: #DD4466;
  --txt-color: #E3DEDB;
  --select-color: #2C4359;
  --html-bg: #011520;
}

/* General
 * ------------------------------------*/

body {
    background: var(--bg-color);
    font-family: 'comfortaa', 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--txt-color);
    width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

#body-wrapper {
    padding: 5% 10%;
}

#sidebar-id {
    background: var(--html-bg);
}

.off-canvas .learn-sidebar .learn-nav ul li.active > a { background-color: var(--select-color);}

.learn-brand img {
    height: 50%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: var(--highlight-color);
}

h3, h4, h5, h6 {
    color: var(--txt-color);
}

.off-canvas .container p a {
   color: var(--txt-color);
   background-color: var(--select-color);
}

.off-canvas .container a:hover {
   color: var(--select-color);
   background-color: var(--txt-color);
}

.post-title a {
    color: var(--highlight-color);
}

.content-inner img {
    max-height: 500px;
    display: inline;
    padding-left: 10%;
}

iframe {
    margin: 5% 10% 10%;
}

#footer { border:none; }
