<div class="post format-{% if page.header.type %}{{ page.header.type }}{% else %}standard{% endif %}">
  {% if truncate %}
  <div class="post-bubbles">
    <a href="{{ page.url }}" class="format-bubble" title="{{ page.title }}"></a>
    {% if page.header.sticky %}
    <a href="{{ page.url }}" title="{{ page.title }}" class="sticky-bubble">Sticky post</a>
    {% endif %}
  </div>
  {% endif %}

  <div class="content-inner">
    {% if page.header.type != 'quote' and page.header.type != 'link' and page.header.type != 'chat' and page.header.type != 'aside' %}
    <div class="post-header">
      <h2 class="post-title">
        <a href="{{ page.header.link }}">{{ page.title }}</a>
      </h2>
      {% else %}
      <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
      {% endif %}
    </div>

    <div class="post-content">
      {% if page.header.type != 'quote' and page.header.type != 'video' and page.header.type != 'link' and page.header.type != 'chat' and page.header.type != 'aside' %}
      {% if page.header.continue_link is sameas(false) %}
      {{ page.content|raw }}
      {% if not truncate %}
      {% set show_prev_next = true %}
      {% endif %}
      {% elseif truncate and page.summary != page.content %}
      {{ page.summary|raw }}
      {% elseif truncate %}
      {{ page.content|truncate(550)|raw }}
      {% else %}
      {{ page.content|raw }}
      {% set show_prev_next = true %}
      {% endif %}
      <p>
        {% if truncate and page.summary != page.content %}
        <a href="{{ page.url }}" class="read-more">Continue Reading</a>
        {% elseif truncate %}
        <a href="{{ page.url }}" class="read-more">Continue Reading</a>
        {% endif %}
      </p>
      {% else %}
      {{ page.content|raw }}
      {% endif %}
    </div>
  </div>
  

  {% if not truncate %}
  {% if config.plugins.jscomments.enabled and config.plugins.jscomments.provider %}
  <div class="comments">
    <h2 class="comments-title">Comments:</h2>
    {{ jscomments(config.plugins.jscomments.provider) }}
  </div>
  {% endif %}

  {% if config.plugins.comments.enabled %}
    {% include 'partials/comments.html.twig' with {'page': page} %}
  {% endif %}

  {% endif %}

      <div class="clear"></div>
    </div>
