<section id="footer" class="section">
    <!--section class="container {{ grid_size }}">
        <p>Powered by <a href="http://getgrav.org">Grav</a> + <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
    </section-->
</section>
