{% import 'macros/macros.html.twig' as macros %}

<div class="learn-brand">
    <div id="header">
        <a id="logo" href="{{ theme_config.home_url ?: base_url_absolute }}">{% include 'partials/logo.html.twig' %}</a>
        <div class="searchbox-container">
            <div
              class="searchbox"
              data-algolia-pro-trigger
            >
                <label for="search-by"><i class="fa fa-search"></i></label>
                <input id="search-by" type="text" placeholder="{{ 'THEME_LEARN4_SEARCH_DOCUMENTATION'|t }}" readwrite>
                <!--span class="search-shortcode">
                    {{ grav.browser.platform|starts_with('mac') ? '⌘K' : '<small>CTRL + K</small>' }}
                </span-->
            </div>
            <div class="search-options">
                {% include 'partials/versions.html.twig' %}
            </div>
        </div>
    </div>
</div>
<div class="learn-nav" data-simplebar>
    <div class="highlightable">
        {% if theme_config.top_level_version %}
            {% for slug, ver in pages.children %}
                {{ macros.version(ver) }}
                <ul id="{{ slug }}" class="topics">
                {{ macros.loop(ver, '') }}
                </ul>
            {% endfor %}
        {% else %}
            <ul class="topics">
                {% if theme_config.root_page %}
                    {{ macros.loop(page.find(theme_config.root_page), '') }}
                {% else %}
                    {{ macros.loop(pages, '') }}
                {% endif %}
            </ul>
        {% endif %}
        <hr />

        <a class="side-tools padding" href="#" data-clear-history-toggle>
            <i class="fa fa-fw fa-history"></i> {{ 'THEME_LEARN4_CLEAR_HISTORY'|t }}
        </a><br/>
    </div>
</div>
